<aside class="mb-8 max-w-[16rem] ml-0">
    <div class="w-full space-y-4">
        <h2 class="my-0! pb-1 leading-none! font-medium">
            Sort by:
        </h2>
        <nav class="not-prose flex">
            <a href="{{ config.base_url }}/writing/tags"
                class="block-bg relative mb-4 rounded-lg p-4">
                Tags
            </a>
            <a href="{{ config.base_url }}/writing/archive"
                class="block-bg relative mb-4 rounded-lg p-4 mx-1">
                Archive
            </a>
        </nav>
    </div>
</aside>