{% import "macros.html" as macros %}

<!doctype html>
<html class="not-ready lg:text-base" lang="{{ lang }}">
{% include "partials/head.html" %}

<body class="text-black duration-200 ease-out dark:text-white">
  {% include "partials/header.html" %}

  <!-- Body Start inject -->
  {% include "injects/body_start.html" ignore missing %}

  <div class="relative mx-auto min-h-[calc(100vh-9rem)] pt-24 pb-16 lg:pt-32 flex flex-col gap-8 max-w-4xl px-4">
    <!-- Shared container for sidebar and main content -->
    <div class="w-full">
      {% include "partials/sidebar.html" %}
      <main>
        <div
          class="prose prose-neutral dark:prose-invert prose-pre:rounded-lg prose-img:rounded-lg break-words max-w-3xl">
          {% block main %}
          {% include "partials/page_list.html" %}
          {% endblock main %}
        </div>
      </main>
    </div>
  </div>

  {% include "partials/footer.html" %}

  <!-- Body End inject -->
  {% include "injects/body_end.html" ignore missing %}
</body>

</html>